ion-toast.ion-color {
  
  &::part(container) {
    border-radius: 4px;
  }

  &::part(message) {
    font-size: 1rem;
    color: var(--color-white);
  }

  &.ion-color-success {
    
    &::part(container) {
      background-color: var(--color-primary);
    }
  }

  &.ion-color-danger{
    &::part(container) {
      background-color: var(--color-red);
    }
  }
}